/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
*{
  background: black;
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 62.5%;

}

fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: double 50px rgba(255, 255, 255, 0.341);
}
button{
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.399);
  padding-bottom: 20px;
}
button:hover{
  color: white;
}
input{
  background: rgba(255, 255, 255, 0.543);
  font-size: 2.5rem;
  padding: 5px;
  border-radius: 10px;
}
input:focus{
  background: white;
}
img{
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 50px;
  padding-top: 30px;
}
div{
  display: flex;
}
h2{
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  margin-left: 30px;
  color: white;
  margin: 10px;

}
h3{
  padding: 30px;
  font-size: 2rem;
  color: white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
